[submodule "box2d"]
	path = extern/box2d
	url = git@github.com:erincatto/box2d.git
	branch = master
[submodule "simavr"]
	path = extern/simavr
	url = git@github.com:buserror/simavr.git
	branch = master
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = git@github.com:Tencent/rapidjson.git
	branch = master
